*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.navbar{
    align-items: center;
    display: flex;
    padding: 20px;
}
.logo h1{
  color: white;
  margin: 30px;
  font: Helvetica;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    padding-left: 25px;
}
a{
    text-decoration: none;
    color: #fff;
}
.container{
    padding-left: 25px;
    padding-right: 25px;
}
.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.658),rgba(0, 0, 0, 0.658)), url(images/hero-bg.jpg);
    background-size: cover;
    background-color: transparent;
}
.row{
    display: flex;
    padding-left: 150px;
    padding-top: 150px;
}
.col-2 h3{
    color: rgb(73, 73, 73);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 10px;
}
.col-2 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: #fff;
    font-weight: 549;
    line-height: 75px;
    padding-bottom: 45px;
    padding-right: 410px;
}
.col-2 i{
    display: block;
    padding-top: 75px;
    color: #fff;
}
.btn{
    position: relative;
    padding-bottom: 80px;
    padding-top: 10px;
    padding-left: 150px;
}
.btn a{
    position: relative;
    padding: 17px 45px;
    border: 2px solid #fff;
    margin: 6px;
}
.btn a:hover{
    background: #fff;
    color: #000;
    transition: all 1s ease-in-out;
}
.about{
    background-color: rgb(48, 175, 48);
}
.about .text{
    position: relative;
    text-align: center;
    padding-top: 180px;
}
.about .text h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}
.about .text h1{
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    padding-bottom: 30px;
    color: #fff;
}
.about .lorem p{
    padding: 38px;
}
.about .lorem{
    position: relative;
    text-align: center;
}
.about .lorem p{
    font-size: 23px;
    line-height: 40px;
}
.count{
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}
.counter{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.count h1{
    color: #fff;
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 549
}
.services{
    background-color: #fff;
}
.services .head{
    position: relative;
    padding-top: 180px;
    text-align: center;
    padding-bottom: 60px;
}
.services .head h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: rgb(14, 192, 14);
    font-size: 16px;
    letter-spacing: 2px;
}
.services .head h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 549;
    line-height: 60px;
}
.services .head p{
    color: rgb(150, 143, 143);
}
.services .info{
    display: flex;
}
.services .info-2{
    display: flex;
}
.services .info-3{
    display: flex;
}
.a{
    padding-right: 120px;
}
.a h3{
    font-size: 30px;
    font-weight: 549;
    font-family: sans-serif;
    padding-bottom: 21px;
}
.a p{
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 40px;
    color: rgb(150, 143, 143);
}
.infoc{
    padding-left: 150px;
}
.down{
    margin-bottom: 100px;
}
#p{
    margin-left: 60px;
    width: 140px;
    height: 140px;
    margin-bottom: 30px;
}
#p{
    opacity: 60%;
    cursor: pointer;
    transition: opacity 0.9s;
}
#p:hover{
    opacity: 100%;
}
.line h1{
    font-size: 60px;
    letter-spacing: 12px;
    cursor: pointer;
    opacity: 40%;
}
.line p{
    padding: 50px;
}
.contact{
    text-align: center;
    padding-top: 180px;
    background-color: rgb(19, 18, 18);
    padding-bottom: 110px;
}
.contact .contect h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: rgb(56, 167, 56);
    font-size: 17px;
    letter-spacing: 2px;
}
.contact .contect h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 44px;
    font-weight: 549;
    line-height: 60px;
    padding-bottom: 70px;
    color: #fff;
}
.form{
    display: flex;
    padding-left: 180px;
}
.form .fom{
    background-color: rgb(10, 10, 10);
    width: 650px;
}
.form .fom h3{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    margin-left: 50px;
    margin-top: 60px;
    margin-bottom: 50px;
}
.form .contactinfo{
    background-color: rgb(14, 13, 13);
    width: 320px;
}
.contactinfo h3{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    margin-left: 50px;
    margin-top: 60px;
    margin-bottom: 50px;
}
.contactinfo h5{
    color: rgb(56, 167, 56);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 549;
    text-align: left;
    font-size: 15px;
    margin-left: 50px;
    margin-top: 40px;
}
.contactinfo p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin-left: 50px;
    margin-top: 15px;
    line-height: 30px;
    color: rgb(156, 150, 150);
    font-size: 14px;
    font-weight: 100;
}
form{
        margin: 31px auto;
        width: 80%;
        padding-top: 10px;
        padding-bottom: 5px;
}
form input{
    width: 101%;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: yellow;
    background: transparent;
    color: #fff;
    margin-bottom: 40px;
    padding-bottom: 20px;
}
textarea{
    width: 101%;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: yellow;
    background: transparent;
    color: #fff;
}
form p{
    padding-left: 16px;
}
.swag{
    width: 535px;
    margin-left: 30%;
    margin-top: 40px;
    margin-bottom: 8px;
}
.footer{
    position: relative;
    background-color: rgb(14, 14, 14);
    display: flex;
    padding-bottom: 100px;
}
.footer .read{
    position: relative;
    margin-top: 140px;
    margin-left: 200px;
    color: rgb(90, 90, 90);
    line-height: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.footer .read p{
    position: relative;
}
.footer .sub{
    margin-top: 80px;
    margin-left: 110px;
}
.footer .sub p{
    color: rgb(90, 90, 90);
    line-height: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.footer .again{
    margin-bottom: 39px;
}
.footer .again h4{
    font-weight: 100;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sub-1{
    padding-top: 30px;
}
.sub-1 #mc-email{
    height: 54px;
    width: 260px;
    border: none;
    color: #fff;
    background: rgb(12, 12, 12);
    margin-bottom: 18px;
}
.sub-1 .mc-subscribe{
    width: 128px;
    height: 50px;
    border: none;
    background-color: rgb(63, 172, 63);
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
}
.sub-1 #mc-email::placeholder{
    padding-left: 40px;
    color: #fff;
}
.subscribe-message{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-left: 20px;
}
.ff{
    display: none;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
.hr{
    width: 535px;
    margin-left: 30%;
    margin-top: 40px;
    margin-bottom: 8px;
}
.special{
    border: all solid #fff;
}
.lil-wayne{
    width: 535px;
    margin-left: 30%;
    margin-top: 60px;
    margin-bottom: 8px;
}
.but{
    width: 101%; 
    background-color: rgb(55, 189, 55); 
    color: #fff; border: none;
    margin-top: 36px;
    padding: 19px
}





























































































































@media only screen and (max-width: 500px){
    .row{
        text-align: center;
        display: block;
        padding-left: 0px;
        padding-top: 70px;
    }
    .col-2 h3{
        color: rgb(156, 150, 150);
        font-family: "verdana", sans-serif;
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: 550;
    }
    .col-2 h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        color: #fff;
        font-weight: 549;
        line-height: 45px;
        padding-bottom: 40px;
        padding-right: 0px;
    }
    .col-2 i{
        display: none;
        padding-top: 0px;
        color: #fff;
    }
    .btn{
        text-align: center;
        display: block;
        position: relative;
        padding-bottom: 150px;
        padding-top: 40px;
        padding-left: 0px;
    }
    .btn a{
        position: relative;
        padding: 17px 120px;
        border: 2px solid #fff;
        margin: 6px;
    }
    .ff{
        display: block;
    }
    .about .text{
        position: relative;
        text-align: center;
        padding-top: 110px;
    }
    .about .text h3{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 2px;
        color: rgb(10, 10, 10);
    }
    .about .text h1{
        font-size: 45px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 549;
        padding-bottom: 0px;
        color: #fff;
    }
    .hr{
        width: 250px;
        justify-content: center;
        margin-left: 120px;
        margin-top: 20px;
        margin-bottom: 8px;
        border: thin #fff all;
    }
    .about .lorem p{
        padding-left: 25px;
        padding-right: 25px;
        font-size: 20px;
        line-height: 30px;
    }
    .about .lorem{
        position: relative;
        text-align: center;
    }
    .count{
        display: block;
        justify-content: center;
        padding-bottom: 100px;
    }
    .counter{
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .count .counter h1{
        color: #fff;
        font-size: 70px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 50px;
        margin-right: 50px;
        font-weight: 549;
    }
    .count .special{
        border: all thin rgba(255, 255, 255, 0);
        width: 180px;
        margin-left: 150px;
        outline: none;
    }
    .services .head{
        padding-top: 110px;
        text-align: center;
        padding-bottom: 60px;
    }
    .services .head h3{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 100;
        color: rgb(14, 170, 14);
        font-size: 15px;
        letter-spacing: 2px;
    }
    .services .head h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        font-weight: 549;
        line-height: 38px;
        padding-left: 36px;
        padding-right: 37px;
        letter-spacing: 1px;
    }
    .swag{
        width: 260px;
        margin-left: 110px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .jags{
        display: none;
    }
    .services{
        padding-bottom: 1px;
    }
    .services .info{
        display: block;
    }
    .services .info-2{
        display: block;
    }
    .services .info-3{
        display: block;
    }
    .a{
        padding-right: 0px;
    }
    .a h3{
        font-size: 30px;
        font-weight: 549;
        font-family: sans-serif;
        padding-bottom: 21px;
    }
    .a p{
        font-size: 17px;
        line-height: 30px;
        padding-bottom: 40px;
        color: rgb(150, 143, 143);
    }
    .infoc{
        text-align: center;
        padding-left: 35px;
        padding-right: 35px;
    }
    #down{
        padding-bottom: 70px;
    }
    .contact{
        text-align: center;
        padding-top: 120px;
        background-color: rgb(19, 18, 18);
        padding-bottom: 110px;
    }
    .contact .contect h3{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 100;
        color: rgb(56, 167, 56);
        font-size: 14px;
        letter-spacing: 3px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .contact .contect h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        font-weight: 549;
        line-height: 60px;
        padding-bottom: 70px;
        color: #fff;
        padding-left: 32px;
        padding-right: 32px;
    }
    .cok{
        display: none;
    }
    .form{
        display: block;
        padding-left: 0px;
        width: 280px;
    }
    .form .fom{
        background-color: rgb(10, 10, 10);
        width: 480px;
    }
    .form .fom h3{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        margin-left: 0px;
        padding-top: 60px;
        margin-bottom: 40px;
    }
    
.form .contactinfo{
    background-color: rgb(14, 13, 13);
    width: 480px;
}
    
    .but{
        width: 50%; 
        background-color: rgb(55, 189, 55); 
        color: #fff; 
        border: none;
        margin-top: 40px;
        padding-bottom: 19px;
        margin-bottom: 30px;
    }


    .form .contactinfo{
        background-color: rgb(14, 13, 13);
        width: 480px;
        text-align: center;
    }
    .contactinfo h3{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        margin-left: 0px;
        margin-top: 60px;
        margin-bottom: 50px;
        display: none;
    }
    .contactinfo h5{
        color: rgb(56, 167, 56);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 549;
        text-align: left;
        font-size: 15px;
        margin-left: 50px;
        margin-top: 40px;
        text-align: center;
    }
    .contactinfo p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: left;
        margin-left: 50px;
        margin-top: 15px;
        line-height: 30px;
        color: rgb(156, 150, 150);
        font-size: 14px;
        font-weight: 100;
        text-align: center;
    }
    form{
            margin: 31px auto;
            width: 80%;
            padding-top: 10px;
            padding-bottom: 5px;
    }
    form input{
        width: 101%;
        border-left: none;
        border-right: none;
        border-top: none;
        outline: yellow;
        background: transparent;
        color: #fff;
        margin-bottom: 40px;
        padding-bottom: 20px;
    }
    textarea{
        width: 101%;
        border-left: none;
        border-right: none;
        border-top: none;
        outline: yellow;
        background: transparent;
        color: #fff;
    }
    form p{
        padding-left: 16px;
    }
    .footer{
        position: relative;
        background-color: rgb(14, 14, 14);
        display: block;
    }
    .footer .read{
        position: relative;
        margin-top: 140px;
        margin-left: 30px;
        color: rgb(90, 90, 90);
        line-height: 27px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
    }
    .footer .read p{
        position: relative;
    }
    .footer .sub{
        margin-top: 80px;
        margin-left: 30px;
    }
    .footer .sub p{
        color: rgb(90, 90, 90);
        line-height: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
    }
    .footer .again{
        margin-bottom: 39px;
    }
    .footer .again h4{
        font-weight: 100;
        color: #fff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .sub-1{
        padding-top: 30px;
    }
    .sub-1 #mc-email{
        height: 54px;
        width: 260px;
        border: none;
        background: rgb(12, 12, 12);
        margin-bottom: 18px;
    }
    .sub-1 .mc-subscribe{
        width: 128px;
        height: 50px;
        border: none;
        background-color: rgb(63, 172, 63);
        color: #fff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        letter-spacing: 3px;
    }
    .sub-1 #mc-email::placeholder{
        padding-left: 40px;
    }
    .subscribe-message{
        color: #fff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 13px;
        margin-left: 20px;
    }






























    
    nav ul{
        position: absolute;
        top: 70px;
        left: 0%;
        background: #000;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
        margin-top: 5px;
    }
}
















/* Tablet View */
@media (max-width: 768px) {
    .navbar nav ul {
        display: none;
        flex-direction: column;
        background: #333;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        border-radius: 5px;
    }

    .menu-icon {
        display: block;
    }

    .menu-icon img {
        width: 30px;
        color: #fff;
    }

    .row {
        flex-direction: column;
    }

    .count {
        flex-direction: column;
        gap: 20px;
    }
}

/* Mobile View */
@media (max-width: 480px) {
    .navbar {
        padding: 10px;
    }

    .navbar .logo img {
        width: 100px;
    }

.btn{

    position: relative;

    padding-bottom: 80px;
    padding-top: 10px;
    padding-left: 10px;
}
.btn a{
    position: relative;
    padding: 17px 45px;
    border: 2px solid #fff;
    margin: 6px;
}
.btn a:hover{
    background: #fff;
    color: #000;
    transition: all 1s ease-in-out;
}
    .row .col-2 h1 {
        font-size: 2rem;
    }

    .about h1 {
        font-size: 2rem;
    }
    .form{

    display: flex;
    flex-direction: column;
    padding-left: 0px;
}
    .about h3 {
        font-size: 1.2rem;
    }
    .about hr{
       display: none;
    }
    .swag{
      display: none;
    }
    
    .count h1 {
        font-size: 2rem;
    }

    .services h1 {
        font-size: 1.5rem;
    }

    .infoc {
        flex-direction: column;
        gap: 20px;
    }
    .fom{
      max-width: 360px;
    }
    .contactinfo{
      max-width: 360px;
    }
    .address{
      max-width: 320px;
    }
    .email{
      max-width: 320px;
    }
    .phone{
      max-width: 320px;
}
.footer .read{
  margin-top: 0px;
}
.iamwhite{
  color: white;
}
}





